<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zadanie 2</title>
</head>
<body>
    <h2>Zadanie 2</h2>
    <form name="test" action="/zadanie_2" method="POST">
        Wprowadź liczby: <br>
        <label>
            <input type="text" name="2_1">
            <input type="text" name="2_2">
            <select id="mode" name="mode">
                <option value="sum">sum</option>
                <option value="subtraction">subtraction</option>
                <option value="multiplication">multiplication</option>
                <option value="division">division</option>
                <option value="exponentiation">exponentiation</option>
                <option value="root">root</option>
            </select>
        </label><br>
        <input type="submit" name="2_3" value="Send">
    </form>
</body>
</html>